*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container
{
    position: relative;
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content : center;
    align-items: center;
    background : #fff173;
    transition: 0.5%;
    padding: 20px;

}

.container#blur.active
{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.content li{
    display:flex;
    margin: 0 -100px;
    justify-content: space-between;
    gap:200px;
}

.content a img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    border-radius: 30px;
}

.content
{
    position : relative;
    max-width: 300px;
    
    
}

.img-container .close-btn {
    cursor: pointer;
    position: absolute;
    right:40px;
    top:25px;
    width: 30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size: 25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;

}

.img-container2 .close-btn {
    cursor: pointer;
    position: absolute;
    right:40px;
    top:25px;
    width: 30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size: 25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;

}

#popup
{
    position : fixed;
    left:30%;
    top:15%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup2
{
    position : fixed;
    width:400px;
    height:450px;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    border-radius: 20%;
    left:30%;
    top:15%;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup2.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.img-container img{
    max-width:500px;
    max-height:500px;
    border-radius:30px;
}